:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  
}

h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 800;
  font-size: 2em;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  
  //background: #FFFEFC;
  background: linear-gradient(to top left, #FFFEFC 14%, #62C8CC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

p{
  color: white;
}

